.input{
    padding: 15px;
    text-align:center;
    width: 29%;

}
.btn{
    padding: 20px;
    width:40%;
    font-size: 22px;


}
.btn:hover{
    background-color: greenyellow;
    color: white;
}
#d1
{
    background-color: black;
    padding: 20px;
}
#d1 a{

    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
}
#d1 a:hover
{
    color:black;
    
    background-color: white;
}